.App
{
    width: 775px;
    margin: auto;
}

.Home
{
    width: 775px;
    margin: auto;
}
body
{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #180101;
    margin-left: 20px;
}

/* Encabezado */

header h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

header h2
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-top: 0px;
    font-weight: normal;
}

.logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

.main_title
{
    display: inline-block;
}

/* menu navegación */
nav
{
    display: inline-block;
    width: 740px;
    text-align: right;
}

nav li 
{
    display: inline-block;
    margin-right: 15px;
}

nav ul 
{
    list-style-type: none;
}

nav a:hover 
{
    color: #000000;
    border-bottom: 3px solid #000000;
}

nav a 
{
    color: #180101;
}

/* Banner */

.banner_image
{
    margin-top: 15px;
    height: 540px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 25px;
}

.banner_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 15px 15px 20px;
    height: 35px;
    width: 19.5%;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 16px;
}

.red_button
{
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-align: center;
    color: white;
    /*background: url('../Images/red_background.png') repeat-x;*/
    border: 1px solid #760001;
    padding: 3px 8px 0px 8px;
    border-radius: 5px;
}