body
{
    background-color: white;
    
}
.wrapper {
    margin-left: 15px;
}
#main_wrapper
{
    width: 161px;
    margin: auto;
}

h1
{
  color: #000000;
}

body, ul, figure {
  margin: 0;
  padding: 0;

}

ul {
    list-style: none;
    display: flex;
}

ul li {
  width: 48%;
}

ul li figure {
    padding: 5px;
    position: relative;
}

ul li figure:hover figcaption {
    display: block;
}

ul li figcaption {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background: rgba(0,0,0,.6);
    text-align: center;
    padding: 15px;
    font: 20px/30px Arial;
    color: white;
    border-radius: 10px;
}

#rest img {
  width: 100%;
  border-radius: 10px;
}